.main {
	width: 90%;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	// height: 70vh;
	// padding: 1rem;
	padding-top: 1em;
	min-height: 65vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cardsContainer {
	min-height: 50vh;
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	// display: grid;
	// grid-template-columns: repeat(5, 18%);
	// justify-content: center;
}

.paginationButtons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.previous,
	.next {
		background: none;
		border: none;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;
		&:hover {
			color: white;
		}
		&:disabled {
			&:hover {
				color: #1010104d;
			}
		}
	}
}
